[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rtematres"]
	path = rtematres
	url = https://github.com/cpfaff/rtematres
	subdir = rtematres
